<link rel="stylesheet" href="../../public/stylesheets/footer.css" type="text/css">

<footer class="jombotron text-center mt-5 mb-0">
    <!--<hr />-->
    <div class="footer-copyright text-center py-3">
      Copyright © github.com/kojihyung
    </div>
  </footer>
  