<link rel="stylesheet" href="stylesheets/header.css" type="text/css">

<header
  class="row pt-5 pb-2 border-primary mb-4"
>
  <div class="col-10 pb-4 text-center">
    <a href="/add-member">
      <button width="300" height="105">회원 등록</button>
    </a>
    <a href="/">
        <button width="300" height="105">홈</button>
      </a>
      <a href="/search">
        <button width="300" height="105">회원조회</button>
      </a>
  </div>
</header>
