<link rel="stylesheet" href="../../public/stylesheets/header_.css" type="text/css">

<script>
$('registButton').click(function(event){  //버튼을 클릭 했을시 popupOpen 함수 출력 
        console.log('click');
        popupOpen();	//Popup Open 함수
    });
  
	function popupOpen(url){
		var winWidth = 700;
	    var winHeight = 600;
	    var popupOption= "width="+winWidth+", height="+winHeight;    //팝업창 옵션(optoin)
		window.open(url,"",popupOption);
	}
</script>

<header class="header clearfix">
  <div class="clearfix display-flex align-items contentHolder" data-items="center">
      <div class="logo"><a href=""><img src="https://blog.kakaocdn.net/dn/c5ADaK/btqzdyDErjo/NSTnwNEfkV1SdHRALZCtO1/img.jpg" alt="logo Placeholder"></a></div>
      <nav class="menu">
          <ol>
    <li class="mainMenu" onclick="popupOpen('/add-member')"><a href="">회원등록</a></li>
    <li class="mainMenu" onclick="popupOpen('/search')"><a href="">회원조회</a></li>
    </ol>
    </nav>
    </div>

</header>
