
<!DOCTYPE  html>
<head>
    <link rel="stylesheet" href="stylesheets/head.css" type="text/css">
    <link  rel='stylesheet'  href='fullcalendar/fullcalendar.css'  />  
    <script src='../../node_modules/moment/min/moment.min.js'></script> 
    <script src='../../node_modules/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>

    <link href='../../node_modules/fullcalendar/main.css' rel='stylesheet' />
    <script src='../../node_modules/fullcalendar/main.js'></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>헬스DB</title>
</head>
  