<script type="text/javascript">
    var submitFlag = false;
    function postCheck(form){
      if(form.name.value == 0){
        alert('이름을 입력해주세요.');
        form.name.focus();
        return false;
      }
      if(form.phoneNumber.value == 0){
        alert('핸드폰 번호를 입력해주세요.');
        form.phoneNumber.focus();
        return false;
      }
      return true;
    }
  
    function formCheck(form){
        
      if(postCheck(form)){
        if(form.submitted) return false;
        // 얘 하면 다시 돌아오는데? 음 으응ㅁ??
        form.action = '';
        form.method = 'POST';
        form.submitted = true;

        return true;
      }
      
      return false;
    }
    
  </script>

<body>
    <div class = "inputInfos">
        <form name = "infos" action = "/add-member" method = "POST" onsubmit="return formCheck(this)">
            <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="이름을 입력해 주세요."
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="phoneNumber"
                  id="phoneNumber"
                  placeholder="핸드폰번호를 입력해 주세요."
                />
                <input type="submit"  class="btn btn-primary btn-sm" value="글쓰기"/>
              </div>

        </form>
    </div>
</body>
